backend/**/bin/
backend/**/obj/
backend/**/.vs/
**/.vs/
**/bin/
**/obj/
frontend/node_modules/
frontend/dist/
*.user
*.db
*.db-shm
*.db-wal
appsettings.*.local.json
**/appsettings.Development.json
.DS_Store
.env
.env.*

